*{
    box-sizing: border-box;
    text-shadow: 5px 3px 5px rgb(64, 64, 82);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: whitesmoke;   
}
h1 h2 {
    font-size: 24px;
}

img{
    width: 100%;
    height: auto;
}
.p-img{
    min-width: 350px;
    min-height: 350px;
    border-radius: 10px;
}


.portfolio-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   align-content: center;
   
    align-items: center;
     
}

.li-header  {

    text-align: center;  
    width: 100%; 
 
}
.menu-item{
    display: block;
   
    padding:  18px ;
    text-align: center;
    cursor: pointer;   
    
}
.menu-item:hover{
    background-color: rgb(83, 78, 90);
}
body {
    background-color: rgb(77, 77, 114);
    
        
} 


.name{
    display: grid;
    padding: 10px;
    margin: 0px;
}
.foto{
    display: grid;
    width: 200px;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
}
.web-developer{
    display: grid;
    padding: 10px;
    margin: 0px;
         
}
.git {
    width: 40px;
    
    padding-right: 5px;
    
}
.linkedin{
    width: 35px;
}
.social{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.foto {grid-area: foto;}
.web-developer {grid-area: web;}
.name{grid-area: name;}
.social{grid-area: social;}

.name-container{
    display: grid;
    margin: 10px 10px 10px 10px;  
    grid-template-columns: auto auto;
    grid-template-rows: 30% 30% auto;
    grid-template-areas: " name foto"
                            " web foto "
                           "social foto"
}
.about{
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px ;
    margin: 10px ;
}
.skills {
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
}

.w-icon{
    width: 35px;
}
.portfolio-icons-container{
    position: relative;
    z-index: 0;
    
}
.portfolio-icons{
    position: absolute;
    top: 35px;
    left: 10px;
    
}

.portfolio{
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
}
.portfolio-list{
    padding: 0;
}
.portfolio-item{
    margin: 10px;
}

.contact {
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding: 20px 0px 20px;
    margin: 10px;
    
}
p{
    margin: 13px;
    font-size: 18px;
    letter-spacing: 1px;
}

.copyright{
    display:flex;
    justify-content: center;
    padding: 20px;

}
.fotarolo {
    background-color: rgba(103, 98, 112, 0.5);
    border: solid 1px;
    padding: 10px;
    width: auto;
    margin:10px;
    box-shadow: 3px 5px 7px rgb(64, 64, 82);
    border-radius: 10px;
 
}
 

#name-id, #email-id, #message-id {
    width: 80%;
    padding: 5px 20px;
    color: black;
    display: block;
    margin:7px auto;
    box-shadow: 5px 5px 5px  rgb(64, 64, 82);
    text-shadow: none;
    
  }


label{
    margin-top: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    
    
}
 .submit {
   width: 80%;
   padding: 10px 20px;
   margin: 30px auto;
   background-color: rgb(96, 96, 122);
   width: 50%;
   box-shadow:5px 5px 5px rgb(64, 64, 82);
   border-radius: 5px;
   display: block;
   max-width: 200px;
   min-width: 100px;
   cursor: pointer;
   
}
.submit:hover{
    background-color: rgb(62, 62, 80);
    }


@media screen and (max-width: 675px)  {
    .header-navigation{
        display:flex;
        width: 100%;
        background-color:rgb(96, 96, 122);
        position: fixed;
        height: 54px;
        top: 0px;   
        z-index: 1;
        
    }
    section.name-container{
        margin-top: 60px;
       }
    .header{
        display: block;
        position: absolute;
        background-color: rgb(96, 96, 122);
        width: 50%;
        top: 54px;
        right: 0;
        transform: translateY(-120%);
        z-index: -1;
        transition: .6s;
    
    
    
    }
    
    nav .navbar-toggler{
        display: grid;
        right: 2px;
    }
    
    }
    .navbar-toggler{
        display: none;
        justify-content: flex-end;
        height: min-content;
        margin: 10px 10px ;
        cursor: pointer;
        position: absolute;
    
    }
    .bar {
        width: 40px;
        height: 4px;
        margin-bottom: 8px;
        background-color: white;
        border-radius: 10%;
        transition: .4s;
    
    }
    li.portfolio-item{
        margin: 20px;
        
    }
    
    input{
        display: none;
    }
    input:checked ~ .container nav .header{
        transform: translateY(0);
        
    }
    input:checked ~ .container nav .navbar-toggler{
        margin-top: 20px;
    
    }
    input:checked ~ .container nav .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
    }
    input:checked ~ .container nav .bar:nth-child(2){
        display: none;
    }
    input:checked ~.container nav .bar:nth-child(3){
        
        transform: rotate(-45deg);
    }
    img.foto{
        display: none;
    }

    
    @media screen and (min-width: 675px){
    
        
    img.foto{
        display: grid;
        
    }
    .header-navigation{
        display: block;
    }    
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(96, 96, 122);    
        position: fixed;
        top: 0;
        width: 100%;
        height: 54px;    
        z-index: 1;
    }
    
    section.name-container{
        margin-top: 70px;
       }
    }

@media screen and (min-width: 768px) {
    .portfolio-list{
        display: grid;
        grid-template-columns: auto auto;
}
}
@media screen and (min-width: 992px){
    .portfolio-list{
        display: grid;
        grid-template-columns: auto auto auto;
    }    
}