*{
    box-sizing: border-box;
    text-shadow: 5px 3px 5px rgb(64, 64, 82);
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: whitesmoke
}


img{
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(77, 77, 114);
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(96, 96, 122);    
    padding:18px;
    width: 100%;
 
}

   
img.foto{
    display: none;
}
@media screen and (min-width: 576px){

header{ 
     display: flex;
  }
    
header{
    content: none;
   } 
   img.foto{
    display: grid;
}
.header-navigation{
    display: block;
}    
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(96, 96, 122);    
    position: fixed;
    padding:18px;
    width: 100%;
 
}
   section.name-container{
    margin-top: 60px;
   }
}

.name{
    display: grid;
    padding: 10px;
    margin: 0px;
}
.foto{
    display: grid;
    width: 200px;
    padding: 0px;
}
.web-developer{
    display: grid;
    padding: 10px;
    margin: 0px;
         
}
.foto {grid-area: foto;}
.web-developer {grid-area: web;}
.name{grid-area: name;}
.social{grid-area: social;}

.name-container{
    display: grid;
    margin: 10px 10px 10px 10px;  
    grid-template-columns: auto auto;
    grid-template-rows: 30% 30% auto;
    grid-template-areas: " name foto"
                            " web foto "
                           "social foto"
}
.about{
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
}
.skills {
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
}
.portfolio{
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
}
.portfolio-list{
    padding: 0;
}
.portfolio-item{
    margin: 10px;
}
@media screen and (min-width: 768px) {
.portfolio-list{
    display: grid;
    grid-template-columns: auto auto;
}
}
@media screen and (min-width: 992px){
    .portfolio-list{
        display: grid;
        grid-template-columns: auto auto auto;
    }    
}
.contact {
    border-style: solid none none none;
    border-width: 1px;
    border-color: whitesmoke;
    padding-top: 20px;
    margin: 10px;
    
}
p{
    margin: 10px;
}
.footer{
    border-style: solid none none none;
    border-width: 1px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    background-color: rgb(96, 96, 122);
    color: whitesmoke;
    
    
}
.copyright{
    display:flex;
    justify-content: center;

}
.fotarolo {
    border: solid 1px;
    padding: 10px;
    width: auto;
    max-width: auto;
    margin: 10px;
    box-shadow: 3px 5px 5px rgb(64, 64, 82);
 
}
 

input[type=text] {
    width: 50%;
    padding: 5px 20px;
    
    display: block;
    margin:7px auto;
    box-shadow: 5px 5px 5px  rgb(64, 64, 82);
    text-shadow: 5px 5px 5px  rgb(64, 64, 82);
   
  }
label{
    font-weight: bold;
    display: block;
    text-align: center;

}
 .submit {
   width: 80%;
   padding: 10px 20px;
   margin: 7px auto;
   background-color: rgb(96, 96, 122);
   width: 50%;
   box-shadow:5px 5px 5px rgb(64, 64, 82);
   border-radius: 5px;
   display: block;
   max-width: 200px;
   cursor: pointer;
}
.submit:hover{
    background-color: rgb(62, 62, 80);
    }
.git {
    width: 25px;
    padding-right: 5px;
}
.linkedin{
    width: 25px;
    
}
.social{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}